/* ---------------- */
/* Global variables */
/* ---------------- */


// colors
$black: #000;
$white: #fff;

$darkest-grey: #0f1922;
$dark-grey: #333333;
$light-grey: #b6c2c9;

$darkest-blue: #1c2b36;
$dark-blue: #314350;
$blue: #3bc0c3;
$light-blue: #cee5f5;
$lightest-blue: #edf1f2;

$red: #f05050;

// layout
$gap: 22px;
$grid-columns-count: 4;






